<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        function register() {
            //event.preventDefault();
            let username = $('#username').val();
            let nickname = $('#nickname').val();
            let password = $('#password').val();
            let email = $('#email').val();
            let data = {
                "username": username,
                "nickname": nickname,
                "password": password,
                "email": email
            }
            $.ajax({
                type: "POST",
                url: `/api/register`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    console.log("성공",response);
                    window.location.href = "/";
                },error: function (jqXHR) {
                    console.log("실패",jqXHR);
                    // console.log(jqXHR.status);
                    // console.log(jqXHR.responseJSON);
                    // alert(jqXHR.responseJSON.msg);
                }
            })
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up Magazine</div>
    <br>
<!--    <form action="/api/register" method="post">-->
    <form onsubmit="return false">
        <div class="login-id-label">Username</div>
        <input type="text" name="username" id="username" class="login-input-box">

        <div class="login-id-label">Nickname</div>
        <input type="text" name="nickname" id="nickname" class="login-input-box">

        <div class="login-id-label">Password</div>
        <input type="password" name="password" id="password" class="login-input-box">

        <div class="login-id-label">E-mail</div>
        <input type="text" name="email" id="email" class="login-input-box">

<!--        <div>-->
<!--            <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자-->
<!--            <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">-->
<!--        </div>-->
        <button id="login-id-submit" onclick="register()">회원 가입</button>
    </form>
</div>
</body>
</html>